<header>
  
    <div class="container">
      
      <div class="logo">ExploreTheWorld</div>
      <nav>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/desti">Destinations</a></li>
          <li><a routerLink="/tours">Tours</a></li>
          <li><a routerLink="/tips">Travel Tips</a></li>
          <li><a routerLink="/about">About Us</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </nav>
    
    </div>
  </header>
 
  
  <section class="hero">
    <div class="example-container">
   
    <div class="hero-content">
      <h1>Discover Your Next Adventure</h1>
      <p>Explore top destinations, find exclusive tours, and get travel tips.</p>
      
    </div>
   
    </div>
    <div class="body">
    <a routerLink="/desti" class="btn">Find Destinations</a>
      <a routerLink="/tours" class="btn">Book a Tour</a>
    </div>
  </section>
  

   
  
  
  
  