<div class="title-center">
    <h1  id="">Travel Through The World</h1>
</div>

<div class="container">
    <h2>Register</h2>
    <form action="#" method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Register</button>
    </form>
</div>